.css-12oz5g7 {

    max-width: 200rem;
}

.css-1offfwp, .e16nr0p33 {

    text-align: center;

}

.css-keje6w {
    max-width: 300px;
}


.edgvbvh9 {
    background-color: rgb(46, 64, 87);
    color: white;
    border: solid 1px gray;
    font-weight: 700;

}

.css-1cpxqw2 {

    margin-left: 40%;
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}


.css-1dhfpht {

    margin-top: -40px;
}

.css-1gk2i2l{

    margin-left: 43.5%;


}

.e16nr0p33{

    text-align: left;

}

#select-qbs-for-stacks {

    margin-top: 10px;
    margin-bottom: -24px;
}

